<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Aggregate">
  
  <insert id="insertAddedTaxStmt" parameterType="AddedTaxStmtDto">
  		INSERT INTO ADDED_TAX_STMT(
	  		STMT_NO,
			ATTR_YEAR,
			COM_CODE,
			IN101,
			IN102,
			IN103,
			IN104,
			IN201,
			IN202,
			IN203,
			IN301,
			IN302,
			IN401,
			IN402,
			IN403,
			IN404,
			IN405,
			IN406,
			IN407,
			IN408,
			IN409,
			IN410,
			IN411,
			IN412,
			IN501,
			IN502,
			IN601,
			IN602,
			IN701,
			IN702,
			IN801,
			IN802,
			IN901,
			IN1001,
			IN1002,
			IN1101,
			IN1102,
			IN1103,
			IN1201,
			IN1202,
			IN1203,
			IN1204,
			IN1205,
			IN1301,
			IN1302,
			IN1501,
			IN1601,
			SUM_LEFT,
			V101,
			V102,
			V103,
			V104,
			V201,
			V202,
			V203,
			V301,
			V302,
			V401,
			V402,
			V403,
			V404,
			V405,
			V406,
			V407,
			V408,
			V409,
			V410,
			V411,
			V412,
			V501,
			V502,
			V601,
			V602,
			V701,
			V702,
			V801,
			V802,
			V901,
			V1001,
			V1002,
			V1101,
			V1102,
			V1103,
			V1201,
			V1202,
			V1203,
			V1204,
			V1205,
			V1301,
			V1302,
			V1501,
			V1601,
			SUM_RIGHT
  		)
  		VALUES(
	  		SEQ_ADDED_TAX_STMT.NEXTVAL,
			#{attrYear},
			#{comCode},
			#{in101}, 
			#{in102}, 
			#{in103}, 
			#{in104}, 
			#{in201}, 
			#{in202}, 
			#{in203}, 
			#{in301}, 
			#{in302}, 
			#{in401}, 
			#{in402}, 
			#{in403}, 
			#{in404}, 
			#{in405}, 
			#{in406}, 
			#{in407}, 
			#{in408}, 
			#{in409}, 
			#{in410}, 
			#{in411}, 
			#{in412}, 
			#{in501}, 
			#{in502}, 
			#{in601}, 
			#{in602}, 
			#{in701}, 
			#{in702}, 
			#{in801}, 
			#{in802}, 
			#{in901}, 
			#{in1001}, 
			#{in1002}, 
			#{in1101}, 
			#{in1102}, 
			#{in1103}, 
			#{in1201}, 
			#{in1202}, 
			#{in1203}, 
			#{in1204}, 
			#{in1205}, 
			#{in1301}, 
			#{in1302}, 
			#{in1501}, 
			#{in1601}, 
			#{sumLeft}, 
			#{v101}, 
			#{v102}, 
			#{v103}, 
			#{v104}, 
			#{v201}, 
			#{v202}, 
			#{v203}, 
			#{v301}, 
			#{v302}, 
			#{v401}, 
			#{v402}, 
			#{v403}, 
			#{v404}, 
			#{v405}, 
			#{v406}, 
			#{v407}, 
			#{v408}, 
			#{v409}, 
			#{v410}, 
			#{v411}, 
			#{v412}, 
			#{v501}, 
			#{v502}, 
			#{v601}, 
			#{v602}, 
			#{v701}, 
			#{v702}, 
			#{v801}, 
			#{v802}, 
			#{v901}, 
			#{v1001}, 
			#{v1002}, 
			#{v1101}, 
			#{v1102}, 
			#{v1103}, 
			#{v1201}, 
			#{v1202}, 
			#{v1203}, 
			#{v1204}, 
			#{v1205}, 
			#{v1301}, 
			#{v1302}, 
			#{v1501}, 
			#{v1601}, 
			#{sumRight}
  		)
  </insert>
  
  
  <select id="selectBizCodeList" resultType="com.kh.jaga.aggregateIncomeTax.model.vo.BizCodeVo">
  	SELECT
	  	TYPE_OF_BIZ_CODE,
	  	SELL_wAY_NAME,
	  	SELL_TARGET_NAME,
	  	TOBC_PK_CODE
  	FROM 
  		TYPE_OF_BIZ_CODE
  </select>
  
  
  
  
  
  
  </mapper>