<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="Attachment">
  
  <resultMap type="Attachment" id="attachmentResultSet">
  <id property="fileCode" column="FILE_CODE"></id> 
  <result property="newFileName" column="NEW_FILENAME"></result>
  <result property="filePath" column="FILE_PATH"></result>
  <result property="type" column="TYPE"></result>
  <result property="comCode" column="FK_CODE"></result>
  <result property="newFileName2" column="NEW_FILENAME"></result>
  <result property="filePath2" column="FILE_PATH"></result>
  <result property="type2" column="TYPE"></result>


  </resultMap>
  
  <insert id="insertAttachment" parameterType="Attachment">
  INSERT INTO ATTACHMENT(FILE_CODE,NEW_FILENAME,FILE_PATH,TYPE,FK_CODE)
  VALUES (ATTACHMENT_SEQ.NEXTVAL,#{newFileName},#{filePath},1,#{comCode})
  </insert>
  
    <insert id="insertAttachment2" parameterType="Attachment">
  INSERT INTO ATTACHMENT(FILE_CODE,NEW_FILENAME,FILE_PATH,TYPE,FK_CODE)
  VALUES (ATTACHMENT_SEQ.NEXTVAL,#{newFileName2},#{filePath2},2,#{comCode})
  </insert>
  
  </mapper>