<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ComInnerId">
  
  <insert id="insertComInnerId" parameterType="CreateCompanyInnerIdDto">
   INSERT INTO COM_INNER_ID(
  		COM_INNER_ID_NUM
  	,	COM_CODE
  	,	POSITION_CODE
  	,	ID
  	,	PWD
  	,	EMAIL
  	,	NAME
  	,	FILE_NAME
  	)
  	VALUES(
  		SEQ_SWY_SEQUENCE.NEXTVAL
  	,	#{companyCode}
  	,	#{position}	
  	,	#{id}
  	,	#{pwd}
  	,	#{email}
    ,   #{name}
    ,	#{sign}
  	) 
  </insert>
  
  
  
  <!-- com.kh.jaga.companyInnerId.vo.SelectCompanyIdVo -->
  <select id="selectComInIdList" parameterType="String" resultMap="SelectCompanyIdVo">
  	SELECT COM_INNER_ID_NUM, COM_CODE, POSITION_CODE, ID, PWD, EMAIL, NAME, FILE_NAME
  	FROM COM_INNER_ID
  	WHERE COM_CODE = #{ companyCode }
  </select>
  
  
  
  
  <!-- 트랜잭션 테스트용 -->
  <insert id="insertTest">
  	INSERT INTO SWY_TEMP VALUES(SEQ_TX_TEST.NEXTVAL, SYSDATE);
  </insert>
  
  
  <select id="selectListCount" parameterType="String" resultType="int">
  	SELECT COUNT(COM_INNER_ID_NUM)
  	FROM COM_INNER_ID
  	WHERE COM_CODE = #{ companyCode }
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- @@@@@@@@@@     resultMap     @@@@@@@@@@ -->
  
  <!-- 사내계정 vo -->
  <resultMap type="com.kh.jaga.companyInnerId.model.vo.SelectCompanyIdVo" id="SelectCompanyIdVo">
  	<id property="comInnerIdNum" column="COM_INNER_ID_NUM"/>
  	<result property="comCode" column="COM_CODE" />
  	<result property="positionCode" column="POSITION_CODE" />
  	<result property="id" column="ID" />
  	<result property="pwd" column="PWD" />
  	<result property="email" column="EMAIL" />
  	<result property="name" column="NAME" />
  	<result property="fileName" column="FILE_NAME" />
  </resultMap>
  
  
  
  
  
  
  </mapper>


  
  
