<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinStmt">
	<insert id="insertIncomeStmt" parameterType="IncomeStmt">
		INSERT INTO INCOME_STMT VALUES(SEQ_INCOME_STMT.NEXTVAL, 1, 1, 2019, NULL, #{endingInvOfMdse}, 3)
	</insert>

	<select id="selectIncomeStmt" parameterType="com.kh.jaga.finStmt.model.vo.StmtDate" resultType="com.kh.jaga.finStmt.model.vo.IncomeStmtAccount">
		SELECT J.PRICE
		FROM SLIP S
		LEFT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE);
	</select>

</mapper>