<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FinStmt">

<!-- 	<resultMap type="FinStmtAccount" id="IncomeStmtResultSet">
		<result property="price" column="PRICE"/>
		<result property="accountCode" column="ACCOUNT_CODE"/>
	</resultMap> -->
	

	<!-- (거래처 미입력 등) 분개가 제대로 안되어 NULL 값이 나오는 경우가 있어 RIGHT JOIN -->
	<select id="selectCurFinStmt" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT J.PRICE, J.ACCOUNT_CODE, J.DEBIT_CREDIT
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') = #{year}
		AND TO_NUMBER(TO_CHAR(S.SLIP_DATE, 'MM')) <![CDATA[<=]]> #{month}
		AND COM_CODE = #{comCode}
	</select>
	
	<select id="selectCurFinStmtByDate" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT J.PRICE, J.ACCOUNT_CODE, J.DEBIT_CREDIT
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') = #{year}
		AND TO_CHAR(S.SLIP_DATE, 'MMDD') <![CDATA[<=]]> LPAD(#{month}, 2, 0) || LPAD(#{date}, 2, 0)
		AND COM_CODE = #{comCode}
	</select>
	
	<select id="selectPastFinStmt" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT J.PRICE, J.ACCOUNT_CODE, J.DEBIT_CREDIT
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') = #{year} - 1
		AND COM_CODE = #{comCode}
	</select>
	
	<select id="selectPastFinStmtByDate" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT J.PRICE, J.ACCOUNT_CODE, J.DEBIT_CREDIT
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') <![CDATA[<=]]> #{year} - 1
		AND COM_CODE = #{comCode}
	</select>

	<select id="selectSlip" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT S.SLIP_DATE, S.DATE_SLIP_CODE, S.BRIEF, J.VENDER_CODE, V.VENDER_NAME, J.DEBIT_CREDIT, J.PRICE, A.ACCOUNT_TITLE 
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		LEFT JOIN VENDER V ON(J.VENDER_CODE = V.VENDER_CODE)
		LEFT JOIN ACCOUNT_TITLE A ON(J.ACCOUNT_CODE = A.ACCOUNT_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') = #{year}
		AND TO_NUMBER(TO_CHAR(S.SLIP_DATE, 'MM')) <![CDATA[<=]]> #{month}
		AND S.COM_CODE = #{comCode}
		AND J.ACCOUNT_CODE = #{accountCode}
		ORDER BY S.SLIP_DATE, S.DATE_SLIP_CODE
	</select>
	
	<select id="selectSlipByDateWithArr" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT S.SLIP_DATE, S.DATE_SLIP_CODE, S.BRIEF, J.VENDER_CODE, V.VENDER_NAME, J.DEBIT_CREDIT, J.PRICE, A.ACCOUNT_TITLE, A.ACCOUNT_CODE
		FROM SLIP S
		RIGHT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		LEFT JOIN VENDER V ON(J.VENDER_CODE = V.VENDER_CODE)
		LEFT JOIN ACCOUNT_TITLE A ON(J.ACCOUNT_CODE = A.ACCOUNT_CODE)
		WHERE TO_CHAR(S.SLIP_DATE, 'YYYY') = #{year}
		AND TO_CHAR(S.SLIP_DATE, 'MMDD') <![CDATA[<=]]> LPAD(#{month}, 2, 0) || LPAD(#{date}, 2, 0)
		AND S.COM_CODE = #{comCode}
		AND J.ACCOUNT_CODE IN
		<foreach item="item" collection="accountArr" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY S.SLIP_DATE, S.DATE_SLIP_CODE
	</select>
	
	<select id="selectSlipByJournal" parameterType="FinStmtAccount" resultType="FinStmtAccount">
		SELECT S.SLIP_DATE, S.SLIP_CODE, S.DATE_SLIP_CODE, J.DEBIT_CREDIT, J.VENDER_CODE, V.VENDER_NAME, J.PRICE, J.ACCOUNT_CODE, A.ACCOUNT_TITLE, S.BRIEF
		FROM SLIP S
		     LEFT JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		     LEFT JOIN ACCOUNT_TITLE A ON(J.ACCOUNT_CODE = A.ACCOUNT_CODE)
		     LEFT JOIN VENDER V ON(J.VENDER_CODE = V.VENDER_CODE)
		WHERE S.COM_CODE = #{comCode}
		AND TO_CHAR(S.SLIP_DATE, 'YYYYMMDD') = #{year} || LPAD(#{month}, 2, 0) || LPAD(#{date}, 2, 0)
		AND S.DATE_SLIP_CODE = #{dateSlipCode}
	</select>
	
	<insert id="insertMfrgStmt" parameterType="MfrgStmt">
		INSERT INTO MFRG_STMT(MFRG_STMT_CODE, COM_CODE, YEAR, TERM, CLOSING, VAL13, SUM90)
		VALUES(SEQ_MFRG_STMT_CODE.NEXTVAL, #{comCode}, #{year}, #{term}, #{closing}, #{val13}, #{sum90})
	</insert>
	
	<select id="countMfrgStmt" parameterType="MfrgStmt" resultType="_int">
		SELECT COUNT(*)
		FROM MFRG_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
	</select>
	
	<select id="countSavedMfrgStmt" parameterType="MfrgStmt" resultType="_int">
		SELECT COUNT(*)
		FROM MFRG_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND CLOSING = 'N'
	</select>
	
	<select id="countClosedMfrg" parameterType="MfrgStmt" resultType="_int">
		SELECT COUNT(*)
		FROM MFRG_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND CLOSING = 'Y'
	</select>
	
	<update id="updateMfrgStmt" parameterType="MfrgStmt">
		UPDATE MFRG_STMT
		SET VAL13 = #{val13}, SUM90 = #{sum90}, CLOSING = #{closing}
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND MFRG_STMT_CODE = (SELECT MAX(MFRG_STMT_CODE)
		                      FROM MFRG_STMT
		                      WHERE YEAR = #{year})
	</update>
	
	<select id="searchMfrg" parameterType="MfrgStmt" resultType="MfrgStmt">
		SELECT ROWNUM, MFRG_STMT_CODE, VAL13, CLOSING
		FROM (SELECT MFRG_STMT_CODE, VAL13, CLOSING
		FROM MFRG_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
        ORDER BY MFRG_STMT_CODE DESC)
		WHERE ROWNUM = 1
	</select>

	<select id="selectMfrgSum90" parameterType="FinStmtAccount" resultType="_int">
		SELECT SUM90
		FROM MFRG_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
        AND MFRG_STMT_CODE = (SELECT MAX(MFRG_STMT_CODE)
                              FROM MFRG_STMT
                              WHERE CLOSING = 'Y'
                              AND YEAR = #{year})
	</select>
	
	<insert id="insertIncomeStmt" parameterType="IncomeStmt">
		INSERT INTO INCOME_STMT(INCOME_STMT_CODE, COM_CODE, YEAR, TERM, CLOSING, SUM10, V40100, SUM20, VAL213, VAL223, SUM30, SUM40, SUM50, SUM100) 
		VALUES(SEQ_INCOME_STMT_CODE.NEXTVAL, #{comCode}, #{year}, #{term}, #{closing}, #{sum10}, #{v40100}, #{sum20}, #{val213}, #{val223}, #{sum30}, #{sum40}, #{sum50}, #{sum100})
	</insert>
	
	<insert id="insertLastIncomeStmt" parameterType="IncomeStmt">
		INSERT INTO INCOME_STMT(INCOME_STMT_CODE, COM_CODE, YEAR, TERM, CLOSING, SUM10, SUM20, VAL213, VAL223, SUM30, SUM40, SUM50, SUM60, SUM70, SUM80, SUM90, SUM100)
		VALUES(SEQ_INCOME_STMT_CODE.NEXTVAL, #{comCode}, #{year} - 1, #{term}, #{closing}, #{lastSum10}, #{lastSum20}, #{lastVal213}, #{lastVal223}, #{lastSum30}, #{lastSum40}, #{lastSum50},
			   #{lastSum60}, #{lastSum70}, #{lastSum80}, #{lastSum90}, #{lastSum100})
	</insert>
	
	<update id="updateIncomeStmt" parameterType="IncomeStmt">
		UPDATE INCOME_STMT
		SET CLOSING = #{closing}, SUM10 = #{sum10}, V40100 = #{v40100}, SUM20 = #{sum20}, VAL213 = #{val213}, VAL223 = #{val223}, SUM30 = #{sum30}, SUM40 = #{sum40}, SUM50 = #{sum50}, SUM100 = #{sum100}
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND INCOME_STMT_CODE = (SELECT MAX(INCOME_STMT_CODE)
						   		FROM INCOME_STMT
						   		WHERE YEAR = #{year})
	</update>

	<update id="updateLastIncomeStmt" parameterType="IncomeStmt">
		UPDATE INCOME_STMT
		SET CLOSING = #{closing}, SUM10 = #{lastSum10}, SUM20 = #{lastSum20}, VAL213 = #{lastVal213}, VAL223 = #{lastVal223}, SUM30 = #{lastSum30}, SUM40 = #{lastSum50}, SUM50 = #{lastSum50},
		    SUM60 = #{lastSum60}, SUM70 = #{lastSum70}, SUM80 = #{lastSum80}, SUM90 = #{lastSum90}, SUM100 = #{lastSum100}
		WHERE COM_CODE = #{comCode} 
		AND YEAR = #{year} - 1
		AND INCOME_STMT_CODE = (SELECT MAX(INCOME_STMT_CODE)
						   		FROM INCOME_STMT
						   		WHERE YEAR = #{year} - 1)
		
	</update>
	
	<select id="countIncomeStmt" parameterType="IncomeStmt" resultType="_int">
		SELECT COUNT(*)
		FROM INCOME_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
	</select>
	
	<select id="countSavedIncomeStmt" parameterType="IncomeStmt" resultType="_int">
		SELECT COUNT(*)
		FROM INCOME_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND CLOSING = 'N' 
	</select>
	
	<select id="countClosedIncomeStmt" parameterType="IncomeStmt" resultType="_int">
		SELECT COUNT(*)
		FROM INCOME_STMT
		WHERE COM_CODE = #{comCode}
		AND YEAR = #{year}
		AND CLOSING = 'Y' 
	</select>
	
	<select id="searchIncomeStmt" parameterType="IncomeStmt" resultType="IncomeStmt">
		SELECT ROWNUM, INCOME_STMT_CODE, VAL213, CLOSING
		FROM (SELECT INCOME_STMT_CODE, VAL213, CLOSING
              FROM INCOME_STMT
              WHERE COM_CODE = #{comCode}
              AND YEAR = #{year}
              ORDER BY INCOME_STMT_CODE DESC)
		WHERE ROWNUM = 1
	</select>
	
</mapper>








