<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Receiption">
  	 <resultMap type="VenderR" id="venderResultMap">
  		<id property="venderCode" column="VENDER_CODE"/>
  		<result property="comCode" column="COM_CODE"/>
  		<result property="bizRegNum" column="BIZ_REG_NUM"/>
  		<result property="venderName" column="VENDER_NAME"/>
  		<result property="bossName" column="BOSS_NAME"/>
  		<result property="sellWay" column="SELL_WAY"/>
  		<result property="sellTarget" column="SELL_TARGET"/>
  		<result property="venderAddress" column="VENDER_ADDRESS"/>
  		<result property="venderTel" column="VENDER_TEL"/>
  		<result property="departmentIncharge" column="DEPARTMENT_INCHARGE"/>
  		<result property="comManagerTel" column="COM_MANAGER_TEL"/>
  		<result property="remarks" column="REMARKS"/>
  		<result property="status" column="STATUS"/>
  		<result property="venderFax" column="VENDER_FAX"/>
  		<result property="accountHolder" column="ACCOUNT_HOLDER"/>
  		<result property="accountNum" column="ACCOUNT_NUM"/>
  		<result property="personalNum" column="PERSONAL_NUM"/>
  		<result property="comManagerEmail" column="COM_MANAGER_EMAIL"/>
  		<result property="bankCode" column="BANK_CODE"/>
  		<result property="farmersStatus" column="FARMERS_STATUS"/>
		
 	</resultMap> 
 	
 	<resultMap type="Journalize" id="journalizeResultMap">
		<id property="journalCode" column="JOURNAL_CODE"/>
		<result property="slipCode" column="SLIP_CODE"/>
		<result property="debitCredit" column="DEBIT_CREDIT"/>
		<result property="price" column="PRICE"/>
		<result property="accountCode" column="ACCOUNT_CODE"/>
	</resultMap>
 	
 	<resultMap type="Receiption" id="receiptionResultMap">
 		<id property="slipCode" column="SLIP_CODE"/>
 		<result property="slipDivision" column="SLIP_DIVISION"/>
 		<result property="division" column="DIVISION"/>
 		<result property="slipDate" column="SLIP_DATE"/>
 		<result property="evidenceCode" column="EVIDENCE_CODE"/>
 		<result property="supplyValue" column="SUPPLY_VALUE"/>
 		<result property="valueTax" column="VALUE_TAX"/>
 		<result property="deemedStatus" column="DEEMED_STATUS"/>
 		<result property="resolutionCode" column="RESOLUTION_CODE"/>
 		<result property="brief" column="BRIEF"/>
 		<result property="item" column="ITEM"/>
 		<result property="comCode" column="COM_CODE"/>
 		<result property="dateSlipCode" column="DATE_SLIP_CODE"/>
 		<collection property="journalizeList" javaType="java.util.List" resultMap="journalizeResultMap"/>
 	</resultMap>
 	 
 	 <resultMap type="AccountTitle" id="accountTitleResultMap">
 	 	<id property="accountCode" column="ACCOUNT_CODE"/>
 		<result property="accountTitle" column="ACCOUNT_TITLE"/>
 		<result property="character" column="CHARACTER"/>
 		<result property="realation" column="REALATION"/>
 		<result property="comCode" column="COM_CODE"/>
 		<result property="accountSystem" column="ACCOUNT_SYSTEM"/>
 		<result property="venderCode" column="VENDER_CODE"/>
 	 </resultMap>
  <select id="selectVenderList" resultMap="venderResultMap" parameterType="java.lang.String">
  	SELECT *
  	FROM VENDER
  	WHERE COM_CODE = #{comCode}
  </select>
  
  <select id="selectAccountTitleList" resultMap="accountTitleResultMap" parameterType="java.lang.String">
  	SELECT *
  	FROM ACCOUNT_TITLE
  	
  </select>
  
	<insert id="insertReceiption" parameterType="Receiption">
		INSERT INTO SLIP
		VALUES (SEQ_SLIP_CODE.NEXTVAL,#{slipDivision},#{division},#{slipDate},#{evidenceCode},#{supplyValue},#{valueTax},'N',#{resolutionCode},#{brief},#{item},#{comCode},SEQ_SLIP_42.NEXTVAL)
	</insert>
	
	<insert id="insertJournalize" parameterType="Journalize">
		INSERT INTO JOURNALIZE
		VALUES (SEQ_JOURNAL_CODE.NEXTVAL, SEQ_SLIP_CODE.CURRVAL, #{debitCredit}, #{price}, #{accountCode},#{venderCode})
	</insert>
  
  	<select id="selectSlipCode" resultType="string">
  		SELECT SEQ_SLIP_CODE.CURRVAL FROM DUAL;
  	</select>
  	
  	<insert id="insertTaxInvoice" parameterType="TaxInvoice">
  		INSERT INTO TAX_INVOICE
  		VALUES (SEQ_TAX_INVOICE.NEXTVAL, NULL, SEQ_SLIP_CODE.CURRVAL, #{division}, #{venderCode}, 'N')
  	</insert>
  </mapper>
