<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="TransectionHistory">

	<resultMap type="Journalize" id="journalizeResultMap">
		<id property="journalCode" column="JOURNAL_CODE"/>
		<result property="slipCode" column="SLIP_CODE"/>
		<result property="debitCredit" column="DEBIT_CREDIT"/>
		<result property="price" column="PRICE"/>
		<result property="accountCode" column="ACCOUNT_CODE"/>
		<result property="venderCode" column="VENDER_CODE"/>
		<result property="venderName" column="VENDER_NAME"/>
		<result property="accountTitle" column="ACCOUNT_TITLE"/>
	</resultMap>
 	
 	<resultMap type="Receiption" id="receiptionResultMap">
 		<id property="slipCode" column="SLIP_CODE"/>
 		<result property="slipDivision" column="SLIP_DIVISION"/>
 		<result property="division" column="DIVISION"/>
 		<result property="slipDate" column="SLIP_DATE"/>
 		<result property="evidenceCode" column="EVIDENCE_CODE"/>
 		<result property="supplyValue" column="SUPPLY_VALUE"/>
 		<result property="valueTax" column="VALUE_TAX"/>
 		<result property="deemedStatus" column="DEEMED_STATUS"/>
 		<result property="resolutionCode" column="RESOLUTION_CODE"/>
 		<result property="brief" column="BRIEF"/>
 		<result property="item" column="ITEM"/>
 		<result property="comCode" column="COM_CODE"/>
 		<result property="dateSlipCode" column="DATE_SLIP_CODE"/>
 		<result property="evidence" column="EVIDENCE"/>
 		<collection property="journalizeList" javaType="java.util.List" resultMap="journalizeResultMap"/>
 	</resultMap>
 	<resultMap type="Receiption2" id="receiptionResultMap2">
 		<id property="slipCode" column="SLIP_CODE"/>
 		<result property="slipDivision" column="SLIP_DIVISION"/>
 		<result property="division" column="DIVISION"/>
 		<result property="slipDate" column="SLIP_DATE"/>
 		<result property="evidenceCode" column="EVIDENCE_CODE"/>
 		<result property="supplyValue" column="SUPPLY_VALUE"/>
 		<result property="valueTax" column="VALUE_TAX"/>
 		<result property="deemedStatus" column="DEEMED_STATUS"/>
 		<result property="resolutionCode" column="RESOLUTION_CODE"/>
 		<result property="brief" column="BRIEF"/>
 		<result property="item" column="ITEM"/>
 		<result property="comCode" column="COM_CODE"/>
 		<result property="dateSlipCode" column="DATE_SLIP_CODE"/>
 		<result property="evidence" column="EVIDENCE"/>
 		<collection property="journalizeList" javaType="java.util.List" resultMap="journalizeResultMap"/>
 	</resultMap>
 	
 	<select id="selectTListAll" resultMap="receiptionResultMap">
 		SELECT S.SLIP_CODE, S.DIVISION, S.SLIP_DATE, S.EVIDENCE_CODE, S.SUPPLY_VALUE, S.VALUE_TAX, V.VENDER_NAME, E.EVIDENCE
		FROM SLIP S
		JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		JOIN VENDER V ON(V.VENDER_CODE = J.VENDER_CODE)
		JOIN EVIDENCE E ON(E.EVIDENCE_CODE = S.EVIDENCE_CODE)
		WHERE S.COM_CODE = 42
		    AND SUBSTR(TO_CHAR(S.SLIP_DATE,'YYYYMMDD'), 1, 4) = 2020
		    AND (J.SLIP_CODE, J.PRICE) IN (SELECT SLIP_CODE, MIN(PRICE)
		                                    FROM (SELECT SLIP_CODE, PRICE, JOURNAL_CODE
		                                    FROM JOURNALIZE
		                                    WHERE (SLIP_CODE, PRICE) NOT IN (SELECT SLIP_CODE, MIN(PRICE)
		                                                                     FROM JOURNALIZE
		                                                                     GROUP BY SLIP_CODE))
		                                    GROUP BY SLIP_CODE)
		    AND S.SLIP_DIVISION = '매입매출'
		ORDER BY S.SLIP_DATE DESC
 	</select>
 	
 	
 	<select id="selectDateList" resultMap="receiptionResultMap2" parameterType="java.util.HashMap">
 		SELECT S.SLIP_CODE, S.DIVISION, TO_CHAR(S.SLIP_DATE, 'YYYY-MM-DD') SLIP_DATE, S.EVIDENCE_CODE, S.SUPPLY_VALUE, S.VALUE_TAX, V.VENDER_NAME, E.EVIDENCE
		FROM SLIP S
		JOIN JOURNALIZE J ON(S.SLIP_CODE = J.SLIP_CODE)
		JOIN VENDER V ON(V.VENDER_CODE = J.VENDER_CODE)
		JOIN EVIDENCE E ON(E.EVIDENCE_CODE = S.EVIDENCE_CODE)
		WHERE S.COM_CODE = 42
		    AND SUBSTR(TO_CHAR(S.SLIP_DATE,'YYYYMMDD'), 1, 4) = 2020
		    AND (J.SLIP_CODE, J.PRICE) IN (SELECT SLIP_CODE, MIN(PRICE)
		                                    FROM (SELECT SLIP_CODE, PRICE, JOURNAL_CODE
		                                    FROM JOURNALIZE
		                                    WHERE (SLIP_CODE, PRICE) NOT IN (SELECT SLIP_CODE, MIN(PRICE)
		                                                                     FROM JOURNALIZE
		                                                                     GROUP BY SLIP_CODE))
		                                    GROUP BY SLIP_CODE)
		    AND S.SLIP_DIVISION = '매입매출'
		    AND S.SLIP_DATE BETWEEN #{date1} AND #{date2}
		ORDER BY S.SLIP_DATE DESC
 	</select>
 	
 	<select id="selectDetailJournal" resultMap="journalizeResultMap" parameterType="java.lang.String">
 		SELECT J.JOURNAL_CODE, J.SLIP_CODE, J.DEBIT_CREDIT, J.PRICE, J.ACCOUNT_CODE, J.VENDER_CODE, V.VENDER_NAME, A.ACCOUNT_TITLE
		FROM JOURNALIZE J
		JOIN VENDER V ON(J.VENDER_CODE = V.VENDER_CODE)
		JOIN ACCOUNT_TITLE A ON(A.ACCOUNT_CODE = J.ACCOUNT_CODE)
		WHERE SLIP_CODE = #{slipCode}
 	</select>

</mapper>