<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Vat">
  
  
  <select id="selectVat" parameterType="Vat" resultType="Vat">
  SELECT * 
  FROM VAT 
  WHERE COM_CODE=#{comCode} 
  AND DEADLINE='Y' 
  AND REPORT_TYPE=#{reportType}
  AND REPORT_TERM=#{reportTerm}
  
  </select>
  
  </mapper>