<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="CcIssStmt">
  
  <resultMap type="CcIssStmt" id="CcIssStmtResultSet">
  <id property ="issCode" column="ISS_CODE"/>

  <result property="taxinvIss" column="TAXINV_ISSUANCE"/>
  <result property="invIss" column="INV_ISSUANCE"/>
  <result property="cardTax" column="CARD_TAX"/>
  <result property="cardTaxFree" column="CARD_TAX_FREE"/>
  <result property="cardSvc" column="CARD_SVCSCHARGE"/>
  <result property="cashTax" column="CASH_TAX"/>
  <result property="cashTaxFree" column="CASH_TAX_FREE"/>
  <result property="cashSvc" column="CASH_SVCSCHARGE"/>
  <result property="digitalTax" column="DIGITAL_TAX"/>
  <result property="digitalTaxFree" column="DIGITAL_TAX_FREE"/>
  <result property="digitalSvc" column="DIGITAL_SVCSCHARGE"/>
  <result property="yearOfAttr" column="YEAR_OF_ATTR"/>
  <result property="termDiv" column="TERM_DIV"/>
  <result property="deadline" column="DEADLINE"/>
  <result property="comCode" column="COM_CODE"/>

  </resultMap> 
  
  
  <resultMap type="Receiption" id="ReceiptionResultSet">
  <id property ="issCode" column="ISS_CODE"/>

  <result property="slipCode" column="SLIP_CODE"/>
  <result property="slipDivision" column="SLIP_DIVISION"/>
  <result property="division" column="DIVISION"/>
  <result property="slipDate" column="SLIP_DATE"/>
  <result property="evidenceCode" column="EVIDENCE_CODE"/>
  <result property="supplyValue" column="SUPPLY_VALUE"/>
  <result property="valueTax" column="VALUE_TAX"/>
  <result property="deemedStatus" column="DEEMED_STATUS"/>
  <result property="resolutionCode" column="RESOLUTION_CODE"/>
  <result property="brief" column="BRIEF"/>
  <result property="item" column="ITEM"/>
  <result property="comCode" column="COM_CODE"/>
  <result property="dateSlipCode" column="DATE_SLIP_CODE"/>

  </resultMap> 

  <select id="selectCcIssStmt" resultMap="CcIssStmtResultSet" parameterType="CcIssStmt">
  		SELECT *
  		FROM CC_ISS_STMT
  		WHERE YEAR_OF_ATTR= #{yearOfAttr}
  		AND TERM_DIV = #{termDiv}
  		AND COM_CODE = #{comCode}
  		AND DEADLINE LIKE 'Y'
  </select>
  <select id="selectNewCcIssStmt" resultMap="ReceiptionResultSet" parameterType="hashMap">
  	SELECT* 
  	FROM SLIP 
  	WHERE SLIP_DIVISION ='매입매출' 
  	AND DIVISION ='매출' 
  	AND SLIP_DATE BETWEEN TO_DATE('#{re.slipDate}') AND TO_DATE('#{eD}')
  </select>
	
	
  
  
  
  </mapper>