<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Vender">
  
     <resultMap type="Bank" id="bankResultMap">
  	<id property="bankCode" column="BANK_CODE"/>
  	<result property="bankName" column="BANK_NAME"/>
  	</resultMap>
  	
  
  
  <resultMap type="Vender" id="venderResultSet">
  <id property ="venderCode" column="VENDER_CODE"/>
  
  <result property="comCode" column="COM_CODE"/>
  <result property="bizRegNum" column="BIZ_REG_NUM"/>
  <result property="venderName" column="VENDER_NAME"/>
  <result property="bossName" column="BOSS_NAME"/>
  <result property="sellWay" column="SELL_WAY"/>
  <result property="sellTarget" column="SELL_TARGET"/>
  <result property="venderAddress" column="VENDER_ADDRESS"/>
  <result property="venderTel" column="VENDER_TEL"/>
  <result property="departmentIncharge" column="DEPARTMENT_INCHARGE"/>
  <result property="comManagerTel" column="COM_MANAGER_TEL"/>
  <result property="remarks" column="REMARKS"/>
  <result property="status" column="STATUS"/>
  <result property="venderFax" column="VENDER_FAX"/>
  <result property="accountHolder" column="ACCOUNT_HOLDER"/>
  <result property="accountNum" column="ACCOUNT_NUM"/>
  <result property="personalNum" column="PERSONAL_NUM"/>
  <result property="comManagerEmail" column="COM_MANAGER_EMAIL"/>
  <result property="bankCode" column="BANK_CODE"/>
  <result property="bankName" column="BANK_NAME"/>
  <result property="farmersStatus" column="FARMERS_STATUS"/>
  <result property="venderType" column="VENDER_TYPE"/>
  </resultMap>

 
	
	<insert id="insertVender" parameterType="Vender">
		INSERT INTO VENDER(VENDER_CODE,COM_CODE,BIZ_REG_NUM,VENDER_NAME,BOSS_NAME,SELL_WAY,SELL_TARGET,VENDER_ADDRESS,VENDER_TEL,
		DEPARTMENT_INCHARGE,COM_MANAGER_TEL,REMARKS,STATUS,VENDER_FAX,ACCOUNT_HOLDER,ACCOUNT_NUM,BANK_CODE,FARMERS_STATUS,VENDER_TYPE)
		VALUES (LPAD(VENDER_SEQ.NEXTVAL, 5, 0),#{comCode},#{bizRegNum},#{venderName},#{bossName},#{sellWay},#{sellTarget},#{venderAddress},#{venderTel},#{departmentIncharge},#{comManagerTel},#{remarks},#{status},#{venderFax},#{accountHolder},#{accountNum},#{bankCode},#{farmersStatus},#{venderType})
	</insert>
	
	<select id="selectVenderList" resultMap="venderResultSet">
	SELECT VENDER_NAME,BOSS_NAME,ACCOUNT_NUM,STATUS,VENDER_TEL,VENDER_CODE,VENDER_TYPE
	FROM VENDER
	</select>

  	<select id="selectOne" resultMap="venderResultSet">
  	SELECT VENDER_CODE, COM_CODE,BIZ_REG_NUM,VENDER_NAME,BOSS_NAME,SELL_WAY,SELL_TARGET,VENDER_ADDRESS,VENDER_TEL,
		DEPARTMENT_INCHARGE,COM_MANAGER_TEL,REMARKS,STATUS,VENDER_FAX,ACCOUNT_HOLDER,ACCOUNT_NUM,BANK_CODE,FARMERS_STATUS,VENDER_TYPE
		FROM VENDER
		WHERE VENDER_CODE=#{venderCode}
  	</select>
  	
  	 	<update id="modifyOne" parameterType="Vender">
	UPDATE VENDER SET BIZ_REG_NUM=#{bizRegNum},VENDER_NAME=#{venderName},BOSS_NAME=#{bossName},SELL_WAY=#{sellWay},SELL_TARGET=#{sellTarget},VENDER_ADDRESS=#{venderAddress},VENDER_TEL=#{venderTel},
		DEPARTMENT_INCHARGE=#{departmentIncharge},COM_MANAGER_TEL=#{comManagerTel},REMARKS=#{remarks},STATUS=#{status},VENDER_FAX=#{venderFax},ACCOUNT_HOLDER=#{accountHolder},ACCOUNT_NUM=#{accountNum},BANK_CODE=#{bankCode},FARMERS_STATUS=#{farmersStatus},VENDER_TYPE=#{venderType}
 	 WHERE VENDER_CODE=#{venderCode}
  	</update> 
  	
  	
  	<select id="selectBankList" resultMap="bankResultMap">
  	SELECT BANK_CODE,BANK_NAME
  	FROM BANK
  	</select>
 
  </mapper>