<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:root-context.xml</param-value>
		<param-value>
		classpath:root-context.xml
		/WEB-INF/config/spring-security.xml				
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- <servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/view-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>*.vi</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>company</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/company-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>company</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>
	
	<!-- 술쟁이로봇 -->
	<servlet>
		<servlet-name>finStmt</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/finStmt-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>finStmt</servlet-name>
		<url-pattern>*.fs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accountBook</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/accountBook-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountBook</servlet-name>
		<url-pattern>*.ab</url-pattern>
	</servlet-mapping>
	
	<!-- 새우 -->
	<servlet>
		<servlet-name>normalReceiption</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/normalReceiption-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>normalReceiption</servlet-name>
		<url-pattern>*.nr</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>receiption</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/receiption-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>receiption</servlet-name>
		<url-pattern>*.rp</url-pattern>
	</servlet-mapping>
	
	   <servlet>
      <servlet-name>transectionHistory</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/transectionHistory-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>transectionHistory</servlet-name>
      <url-pattern>*.th</url-pattern>
   </servlet-mapping>
   
   <servlet>
   	<servlet-name>businessPayment</servlet-name>
   	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   	<init-param>
   		<param-name>contextConfigLocation</param-name>
   		<param-value>/WEB-INF/config/businessPayment-servlet.xml</param-value>
   	</init-param>
   </servlet>
   <servlet-mapping>
   	<servlet-name>businessPayment</servlet-name>
   	<url-pattern>*.bp</url-pattern>
   </servlet-mapping>
	
	
	<!-- 1Dragon -->
	<servlet>
      <servlet-name>companyInnerId</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/companyInnerId-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>companyInnerId</servlet-name>
      <url-pattern>*.comInId</url-pattern>
   </servlet-mapping>

 <servlet><!-- 지출결의서 -->
      <servlet-name>expendResolution</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/expendResolution-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>expendResolution</servlet-name>
      <url-pattern>*.expendResolution</url-pattern>
   </servlet-mapping>

   
   <!-- 브랜치 -->
   <servlet>
      <servlet-name>bugagachi</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/bugagachi-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>bugagachi</servlet-name>
      <url-pattern>*.bu</url-pattern>
   </servlet-mapping>
   
   
      <servlet><!-- 신용카드등 수령명세서 -->
      <servlet-name>CcSalesSlipGap</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/CcSalesSlipGap-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>CcSalesSlipGap</servlet-name>
      <url-pattern>*.cssg</url-pattern>
   </servlet-mapping>
   
   <servlet><!-- 신용카드등발행명세서 -->
      <servlet-name>CcIssStmt</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/CcIssStmt-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>CcIssStmt</servlet-name>
      <url-pattern>*.cis</url-pattern>
   </servlet-mapping>
   
   
   <!-- 백곰 -->
    <servlet>
      <servlet-name>vender</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/vender-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>vender</servlet-name>
      <url-pattern>*.ve</url-pattern>
   </servlet-mapping> 
   
   <servlet>
   <servlet-name>employee</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/employee-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>employee</servlet-name>
      <url-pattern>*.emp</url-pattern>
   </servlet-mapping> 
   
      <servlet>
   <servlet-name>accountTitle</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/accountTitle-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>accountTitle</servlet-name>
      <url-pattern>*.at</url-pattern>
   </servlet-mapping> 
   
      <servlet>
      <servlet-name>businessEmp</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
         <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/config/businessEmp-servlet.xml</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>businessEmp</servlet-name>
      <url-pattern>*.be</url-pattern>
   </servlet-mapping>
   

	<!-- 인코딩 필터 추가 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
		    <param-name>forceEncoding</param-name>
		    <param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
